.outputPanel:before,
.outputPanel:after {
    content: "";
    display: table;
}

.outputPanel:after {
    clear:both;
}

.outputPanel {
    width: 73%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
}